<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>다중 게시판 실습용 웹 디자인</title>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="vendor/bootstrap/css/bootstrap.min.css"
              rel="stylesheet">
        <!-- Custom styles for this template -->
        <link th:href="@{/css/simple-sidebar.css}" href="css/simple-sidebar.css" rel="stylesheet">
    </head>
</th:block>

</html>
