<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/layoutV1 :: setContent(~{this :: content})}">
  <th:block th:fragment="content">
    <div class="container-fluid">
      <h1 th:if="${state == 'writeview'}" class="mt-4">게시글 쓰기</h1>
      <h1 th:if="${state == 'replyview'}" class="mt-4">답글 달기</h1>
      <h1 th:if="${state == 'editview'}" class="mt-4">게시글 수정하기</h1>
      <hr>
      <th:block th:if="${state == 'writeview'}">
        <form th:action="@{/article/write}" action="#" th:method="post">
      </th:block>
      <th:block th:if="${state == 'replyview'}">
        <form th:action="@{/article/{aid}/reply(aid=${aid})}" action="#" th:method="post">
      </th:block>
      <th:block th:if="${state == 'editview'}">
        <form th:action="@{/article/{aid}/edit(aid=${article.articleId})}" action="#" th:method="post">
      </th:block>
        <div class="form-group">
          <label>제목</label>
          <input th:unless="${state == 'editview'}" th:name="'subject'" type="text" class="form-control" name="title" placeholder="Enter Title">
          <input th:if="${state == 'editview'}" th:name="'subject'" th:value="${article.subject}" type="text" class="form-control" name="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label>내용</label>
          <textarea th:unless="${state == 'editview'}" class="form-control" rows="5" name="content"></textarea>
          <textarea th:if="${state == 'editview'}" th:text="${article.content}" class="form-control" rows="5" name="content"></textarea>
        </div>
        <div class="form-group">
          <label>작성자</label>
          <input th:unless="${state == 'editview'}" type="text" class="form-control" name="writer" placeholder="Enter Writer">
          <input th:if="${state == 'editview'}" th:value="${article.writer}" type="text" class="form-control" name="writer" placeholder="Enter Writer">
        </div>
        <th:block>
          <div class="form-group">
            <label>비밀번호</label>
            <input type="text" class="form-control" name="passwd" placeholder="Enter Password">
          </div>
        </th:block>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </th:block>
</th:block>

</html>